@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #DBB68F, #9C694E );
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 8px 8px 8px #4b36205d;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #61462a ;
    text-align: center;
    text-shadow: 1px 1px 2px #61462a ;
}

h2{
    color: #BA5D5D;
}

p {
    text-align: justify;
}

